{% extends "base.html" %} {% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Đồ Án Máy Học</title>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

</head>

<body>
    <div id="UIT">
        <a href="#">
          <img src="./static/images/logo-uit.png" class="LOGO">
        </a>
        <br>ĐẠI HỌC QUỐC GIA TP.HCM
        <br>TRƯỜNG ĐẠI HỌC CÔNG NGHỆ THÔNG TIN
    </div>

    <div>
        <p id="TieuDe">
          BÁO CÁO TỔNG KẾT
          <br><b>ĐỒ ÁN CUỐI KỲ MÔN XỬ LÝ NGÔN NGỮ TỰ NHIÊN</b>
        </p>
    </div>

    <div id="Lop">
        LỚP: CS221
    </div>

    <div>
        <p id="ChuDe">
          GÁN NHÃN TỪ LOẠI TIẾNG VIỆT
        </p>
    </div>

    <div>
        <p id="GV-SV">
          <b>GIÁO VIÊN HƯỚNG DẪN:</b>
          <br>NGUYỄN TRỌNG CHỈNH
          <br>
          <br><b>THÀNH VIÊN NHÓM:</b> 
          <br>BÙI TRẦN NGỌC DŨNG - 19521385
          <br>NGUYỄN ĐĂNG MINH - 19520164
        </p>
    </div>

    <div style= "margin: 0 auto;"  id="LuaChon" >
      <div class="column1_3">
          <a href="/s">
            <img src="./static/images/detect_image.png" class="zoom">
          </a>
          <br> GÁN NHÃN CHO CÂU
      </div>

</body>
</html>

{% endblock %}